{% include "header.html" %}
<h1>Emergency contact form</h1>
<div class="col-md-12">
    {% if failed %}
        <div class="alert alert-danger">Message failed to send.</div>
    {% elif failed === false %}
        <div class="alert alert-success">Message sent.</div>
    {% endif %}
    <p class="alert alert-warning">Please only use this form if there is a real emergency. Do <b>not</b> test this form.</p>
    <form action="" method="post" role="form">
        <textarea name="message" class="form-control" cols="50" rows="10"></textarea><br>
        <button class="btn btn-danger">Send</button>
    </form>
</div>
{% include "footer.html" %}
