</main>
<hr>
<footer class="footer text-center">
<div class="container">
All quotes are free.<br>
<a href="/">Home</a> | 
<a href="/tos">Terms of Service</a> | 
<a href="/privacy">Privacy Policy</a> | 
<a href="/admin_at_rwky.net.sig">GPG Signature</a> | 
<a href="/docs/add-my-ssh-key.html">Add my SSH public key</a> |
<a href="/cv.html">Curriculum Vitae</a> | 
<a href="https://github.com/rwky" target="_blank" rel="noopener">GitHub</a> | 
<a href="/pay-online">Pay Online</a> | 
<a href="/docs/ssh-keygen.html">How to generate your own SSH key</a>
<br>
&copy; rwky.net
<br>
Programming and server management since 2005.
<br>VAT ID: GB346045902
</div>
<hr>
<div class="container">
Things I support<br>
<a href="https://www.fsf.org" target="_blank" rel="noopener">
    <img src="https://static.fsf.org/nosvn/associate/crm/977325.png" alt="FSF">
</a>
<a href="https://www.eff.org/join"><img src="https://www.eff.org/files/eff-banner.png" alt="Join EFF!" border="0"></a><br />
</div>
</footer>

{% if stripe %}
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/{{version}}/main.js"></script>
{% endif %}
</body>
</html>
